.content-panel {
    margin: 30px !important;
}

.no-border {
    border: 0 !important;
}

.option-btn {
    cursor: pointer;
}

.save-state {
    text-align: center;
}

.loading-icon {
    margin-bottom: 4px !important;
    margin-right: 10px !important;
}